In [46]:
import numpy as np
import pandas as pd
from itertools import combinations

from scipy import stats
from statsmodels.stats.descriptivestats import sign_test
from statsmodels.sandbox.stats.multicomp import multipletests

### 1.

Классификатор C4.5 и три его модификации: с оптимизацией гиперпараметра m, гиперпараметра cf и с одновременной оптимизацией обоих гиперпараметров. Эти четыре классификатора сравнивались на 14 наборах данных. На каждом датасете был посчитан AUC каждого классификатора. Данные записаны в файле.

Используя критерий знаковых рангов, проведите попарное сравнение каждого классификатора с каждым. Выберите два классификатора, различие между которыми наиболее статистически значимо.

In [5]:
df = pd.read_csv('AUCs.txt', sep='\t')
df.rename(columns = {'Unnamed: 0': 'Dataset'}, inplace=True)

In [6]:
df

                    Dataset   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0            adult (sample)  0.763   0.768    0.771      0.798
1             breast cancer  0.599   0.591    0.590      0.569
2   breast cancer wisconsin  0.954   0.971    0.968      0.967
3                       cmc  0.628   0.661    0.654      0.657
4                ionosphere  0.882   0.888    0.886      0.898
5                      iris  0.936   0.931    0.916      0.931
6           liver disorders  0.661   0.668    0.609      0.685
7               lung cancer  0.583   0.583    0.563      0.625
8              lymphography  0.775   0.838    0.866      0.875
9                  mushroom  1.000   1.000    1.000      1.000
10            primary tumor  0.940   0.962    0.965      0.962
11                    rheum  0.619   0.666    0.614      0.669
12                   voting  0.972   0.981    0.975      0.975
13                     wine  0.957   0.978    0.946      0.970

In [7]:
models = [x for x in df.columns.tolist() if 'Dataset' not in x]
models

['C4.5', 'C4.5+m', 'C4.5+cf', 'C4.5+m+cf']

In [40]:
wilcoxon_result = np.ones((len(models), len(models)))
for i in range(len(models)):
    indices = [i for i in range(len(models))]
    indices.remove(i)
    p_values = []
    for j in indices:
        wilcoxon_result[i][j] = stats.wilcoxon(df[models[i]], df[models[j]]).pvalue

In [45]:
df_result = pd.DataFrame(wilcoxon_result)
df_result.columns = models
df_result['Models'] = models
df_result = df_result[['Models']+models]
df_result

      Models      C4.5    C4.5+m   C4.5+cf  C4.5+m+cf
0       C4.5  1.000000  0.010757  0.861262   0.015906
1     C4.5+m  0.010757  1.000000  0.046333   0.327826
2    C4.5+cf  0.861262  0.046333  1.000000   0.022909
3  C4.5+m+cf  0.015906  0.327826  0.022909   1.000000

In [54]:
df_melted = pd.melt(df_result, id_vars = ['Models'], value_vars=models)
df_melted = df_melted[df_melted['value']!=1].copy(deep=True)
df_melted.reset_index(inplace=True, drop=True)

In [58]:
indexes =[0, 1, 2, 4, 5, 8]
df_melted = df_melted[df_melted.index.isin(indexes)].copy(deep=True)
df_melted.reset_index(inplace=True, drop=True)
df_melted.sort_values(by=['value'], inplace=True)

In [59]:
df_melted

      Models variable     value
0     C4.5+m     C4.5  0.010757
2  C4.5+m+cf     C4.5  0.015906
4  C4.5+m+cf  C4.5+cf  0.022909
3  C4.5+m+cf   C4.5+m  0.327826
1    C4.5+cf     C4.5  0.861262

Сравнивая 4 классификатора между собой, мы проверили 6 гипотез. Давайте сделаем поправку на множественную проверку. Начнём с метода Холма. Сколько гипотез можно отвергнуть на уровне значимости 0.05 после поправки этим методом?

In [62]:
reject, p_corrected, a1, a2 = multipletests(df_melted['value'], 
                                            alpha = 0.05, 
                                            method = 'holm') 
df_melted['holm_reject'] = reject
df_melted['holm_p_value'] = p_corrected

In [63]:
df_melted

      Models variable     value  holm_reject  holm_p_value
0     C4.5+m     C4.5  0.010757        False      0.053786
2  C4.5+m+cf     C4.5  0.015906        False      0.063626
4  C4.5+m+cf  C4.5+cf  0.022909        False      0.068727
3  C4.5+m+cf   C4.5+m  0.327826        False      0.655651
1    C4.5+cf     C4.5  0.861262        False      0.861262

Сколько гипотез можно отвергнуть на уровне значимости 0.05 после поправки методом Бенджамини-Хохберга?

In [64]:
reject, p_corrected, a1, a2 = multipletests(df_melted['value'], 
                                            alpha = 0.05, 
                                            method = 'fdr_bh')
df_melted['bh_reject'] = reject
df_melted['bh_p_value'] = p_corrected

In [65]:
df_melted

,Models,variable,value,holm_reject,holm_p_value,bh_reject,bh_p_value
0,C4.5+m,C4.5,0.010757,False,0.053786,True,0.038182
2,C4.5+m+cf,C4.5,0.015906,False,0.063626,True,0.038182
4,C4.5+m+cf,C4.5+cf,0.022909,False,0.068727,True,0.038182
3,C4.5+m+cf,C4.5+m,0.327826,False,0.655651,False,0.409782
1,C4.5+cf,C4.5,0.861262,False,0.861262,False,0.861262